
html,body{
    height: 100%;
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;

}

.navbar li a{
    color:white;
}

.navbar li a:hover{
    color:grey;
}

#contact{
height:100vh

}

form{
font-size:2rem;
margin-top:8rem;
margin-left:4rem;
margin-right:4rem;
}



#welcome{
background-image: url(https://images.unsplash.com/photo-1475738972911-5b44ce984c42?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80);
height: 100vh;
background-size: cover;
background-repeat: none;
}

#welcome h1{
    color: white;
    text-shadow: 4px 2px black;
    text-align: center;
    font-size: 7rem;
    padding-top: 10rem;
    
}

#welcome h2{
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    padding-top: 2rem;
}

#welcome h4,h6{

    text-shadow: 2px 2px black;
    text-align: center;
    padding-left:2rem;
    padding-right:2rem;
    color: white;
}

#a-info{
height: 100vh;
background-color: white;
padding-left: 12rem;
padding-right: 2rem;
}

#a-info img{
    height:40vh;
    margin-top: 15rem; 
    border-right: 2px grey solid;
    padding-right: 7rem;

}

#a-info h2{

        color: grey;
        text-align: center;
        padding-top: 12rem;
}

#a-info h3,h5{

    color: grey;
    text-shadow: none;
    text-align: center;
    padding:2rem;
}
#b-info{
    height: 100vh;
    background-color: #F5F3F3;
    padding-left: 10rem;
    padding-right: 2rem;
    }
    
#b-info img{
    height:40vh;
    margin-top: 15rem; 
    

}

#b-info h2{

        color: grey;
        text-align: center;
        padding-top: 12rem;
}
    
#b-info h3,h4,h5,h6{

    text-shadow: none;
    text-align: center;
    padding:2rem;
    border-right: 2px white solid;
    padding-right: 2rem;
}


@media screen and (max-width: 992px) {
    html,body{
        height: 100%;
        margin: 0;
    }
    #welcome{
        margin-bottom: 10rem;
    }
    #welcome h1{

        color: white;
        text-shadow: 4px 2px black;
        text-align: center;
        font-size: 5rem;
        padding-top: 5rem;
        
    }
    
    #welcome h2{
        font-family: 'Baloo Tammudu 2', cursive;
        color: white;
        text-shadow: 2px 2px black;
        text-align: center;
        padding-top: 2rem;
    }
    
    #welcome h3,h4,h5,h6{
        font-family: 'Baloo Tammudu 2', cursive;
        text-shadow: 2px 2px black;
        text-align: center;
        padding:2rem;
        color: white;
    }
    
    #a-info{
    height: 100vh;
    background-color: white;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    }
    
    #a-info img{
        height:30vh;
        margin-top: 5rem; 
        margin-left: 19rem;
        margin-right: 5rem;
        border-right: none
    
    }
    
    #a-info h2{
            font-family: 'Baloo Tammudu 2', cursive;
            color: grey;
            text-align: center;
            padding-top: 2rem;
    }
    
    #a-info h3,h5{
        font-family: 'Baloo Tammudu 2', cursive;
        color: grey;
        text-shadow: none;
        text-align: center;
        padding:0rem;
    }
    #b-info{
        height: 100vh;
        background-color: #F5F3F3;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        }
        
    #b-info img{
        height:30vh;
        margin-top: 2rem; 
        margin-left: 19rem;
        margin-right: 5rem;
        
    
    }
    
    #b-info h2{
            font-family: 'Baloo Tammudu 2', cursive;
            color: grey;
            text-align: center;
            padding-top: 2rem;
    }
        
    #b-info h3,h5{
        font-family: 'Baloo Tammudu 2', cursive;
        text-shadow: none;
        text-align: center;
        padding:0rem;
        border-right: none;
        
        
    }
    
}  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
        html,body{
            height: 100%;
            margin: 0;
        }
        #welcome h1{
            font-family: 'Baloo Tammudu 2', cursive;
            color: white;
            text-shadow: 4px 2px black;
            text-align: center;
            font-size: 5rem;
            padding-top: 5rem;
            
        }
        
        #welcome h2{
            font-family: 'Baloo Tammudu 2', cursive;
            color: white;
            text-shadow: 2px 2px black;
            text-align: center;
            padding-top: 2rem;
        }
        
        #welcome h4,h6{
            font-family: 'Baloo Tammudu 2', cursive;
            text-shadow: 2px 2px black;
            text-align: center;
            padding:2rem;
            color: white;
        }
        
        #a-info{
        width:100%;
        height: 100vh;
        background-color: white;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        }
        
        #a-info img{

            height:30vh;
            margin-top: 5rem; 
            display: block;
            margin-left: 10rem;
            margin-right: auto;
            border-right: none;
        
        }
        
        #a-info h2{
                width:100;
                font-family: 'Baloo Tammudu 2', cursive;
                color: grey;
                text-align: center;
                padding-top: 2rem;
        }
        
        #a-info h3,h5{
            font-family: 'Baloo Tammudu 2', cursive;
            color: grey;
            text-shadow: none;
            text-align: center;
            padding:0rem;
            width:100%
        }
        #b-info{
            height: 100vh;
            background-color: #F5F3F3;
            padding-left: 0rem;
            padding-right: 0rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
            width:100%;
            }
            
        #b-info img{
            height:30vh;
            margin-top: 2rem; 
            display: block;
            margin-left: auto;
            margin-right: auto;

        
        }
        
        #b-info h2{
                font-family: 'Baloo Tammudu 2', cursive;
                color: grey;
                text-align: center;
                padding-top: 2rem;
                width:100%;
        }
            
        #b-info h3,h5{
            font-family: 'Baloo Tammudu 2', cursive;
            text-shadow: none;
            text-align: center;
            padding:0rem;
            width:100%;
            
        }
        
    }

    @media screen and (max-width: 480px) {
        html,body{
            height: 100%;
            margin: 0;
        }
        #welcome h1{
            font-family: 'Baloo Tammudu 2', cursive;
            color: white;
            text-shadow: 4px 2px black;
            text-align: center;
            font-size: 5rem;
            padding-top: 5rem;

        }

        #welcome h2{
            font-family: 'Baloo Tammudu 2', cursive;
            color: white;
            text-shadow: 2px 2px black;
            text-align: center;
            padding-top: 2rem;
        }

        #welcome h4,h6{
            font-family: 'Baloo Tammudu 2', cursive;
            text-shadow: 2px 2px black;
            text-align: center;
            padding:2rem;
            color: white;
        }

        #a-info{
        width:100%;
        height: 100vh;
        background-color: white;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        }

        #a-info img{

            height:30vh;
            margin-top: 5rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-right: none;

        }

        #a-info h2{
                width:100;
                font-family: 'Baloo Tammudu 2', cursive;
                color: grey;
                text-align: center;
                padding-top: 2rem;
        }

        #a-info h3,h5{
            font-family: 'Baloo Tammudu 2', cursive;
            color: grey;
            text-shadow: none;
            text-align: center;
            padding:0rem;
            width:100%
        }
        #b-info{
            height: 100vh;
            background-color: #F5F3F3;
            padding-left: 0rem;
            padding-right: 0rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
            width:100%;
            }

        #b-info img{
            height:30vh;
            margin-top: 2rem;
            display: block;
            margin-left: auto;
            margin-right: auto;


        }

        #b-info h2{
                font-family: 'Baloo Tammudu 2', cursive;
                color: grey;
                text-align: center;
                padding-top: 2rem;
                width:100%;
        }

        #b-info h3,h5{
            font-family: 'Baloo Tammudu 2', cursive;
            text-shadow: none;
            text-align: center;
            padding:0rem;
            width:100%;

        }

    }
  
