<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>      

<section id="welcome">
    <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#covid">COVID-19</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#coshh">COSHH</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#hse">Health & Safety</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#compart">Compartmentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#asbestos">Asbestos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#fire">Fire Safety</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cpr">First Aid</a>
              </li>
            </ul>
            <span class="nav-item contactus">
                <a class="nav-link" style="color: white;" href="{{ url_for('contact') }}">Contact Us</a>
            </span>
          </div>
        </div>
      </nav>
    <div class="row">
        <div class="col-xl-6 col-lg-0">
        </div>
        <div class="col-xl-6 col-lg-12">
    <h1>L&E Safety </br>Services</h1>
    <h4>Safety First. Quality Guaranteed. Confidence Always</h4>
    <h6>Specializing in COVID-19 Workspace Appraisals, COSHH Assesments,</br>Health and Safety Inspections, Compartmentation, Asbestos Awareness, </br>Fire Training and Certfied Training in First Aid.
    </h6>
</section>
<section id="a-info">
    <div id="covid">
    <div class="row">
        <div class="col-xl-5 col-lg-12">
            <img src="static/images/covid.png" alt="">
      </div>
      <div class="col-xl-1 col-lg-12">
      </div>
      <div class="col-xl-5 col-lg-12">
          <h2>COVID-19 Appraisals</h2>
          <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur deserunt iure deleniti eos aliquam eveniet illum, alias repellendus modi consequuntur, eius, aut dolore ratione minus odio! Rerum delectus quia provident.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sapiente iure sequi voluptates quidem eveniet facere? Ipsum expedita sunt ducimus deleniti maxime a, veritatis, animi, incidunt minima similique dolorem culpa?
          </h5>
      </div>
    </div>
</div>
</div> 
    
</section>    
<section id="b-info">
    <div id="coshh">
    <div class="row">
      <div class="col-xl-5 col-lg-12">
          <h2>COSHH Assesment</h2>
          <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur deserunt iure deleniti eos aliquam eveniet illum, alias repellendus modi consequuntur, eius, aut dolore ratione minus odio! Rerum delectus quia provident.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sapiente iure sequi voluptates quidem eveniet facere? Ipsum expedita sunt ducimus deleniti maxime a, veritatis, animi, incidunt minima similique dolorem culpa?
          </h5>
      </div>
      <div class="col-xl-1 col-lg-12">
    </div>
      <div class="col-xl-5 col-lg-12">
        <img src="static/images/chemicals.png" alt="">
  </div>
  </div>
</div>
      
    
</section>   
<section id="a-info">
    <div id="hse">
    <div class="row">
        <div class="col-xl-5 col-lg-12">
            <img src="static/images/safety.png" alt="">
      </div>
      <div class="col-xl-1 col-lg-12">
      </div>
      <div class="col-xl-5 col-lg-12">
          <h2>Health and Safety Inspections</h2>
          <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur deserunt iure deleniti eos aliquam eveniet illum, alias repellendus modi consequuntur, eius, aut dolore ratione minus odio! Rerum delectus quia provident.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sapiente iure sequi voluptates quidem eveniet facere? Ipsum expedita sunt ducimus deleniti maxime a, veritatis, animi, incidunt minima similique dolorem culpa?
          </h5>
      </div>
    </div>
</div>
    
</section>   
<section id="b-info">
    <div id="compart">
    <div class="row">
      <div class="col-xl-5 col-lg-12">
          <h2>Compartmentation</h2>
          <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur deserunt iure deleniti eos aliquam eveniet illum, alias repellendus modi consequuntur, eius, aut dolore ratione minus odio! Rerum delectus quia provident.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sapiente iure sequi voluptates quidem eveniet facere? Ipsum expedita sunt ducimus deleniti maxime a, veritatis, animi, incidunt minima similique dolorem culpa?
          </h5>
      </div>
      <div class="col-xl-1 col-lg-12">
    </div>
      <div class="col-xl-5 col-lg-12">
        <img src="static/images/compartment.png" alt="">
  </div> 
    </div>
</div>
</section>
<section id="a-info">
    <div id="asbestos">
    <div class="row">
        <div class="col-xl-5 col-lg-12">
            <img src="static/images/asbestos.png" alt="">
      </div>
      <div class="col-xl-1 col-lg-12">
      </div>
      <div class="col-xl-5 col-lg-12">
          <h2>Asbestos Awareness</h2>
          <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur deserunt iure deleniti eos aliquam eveniet illum, alias repellendus modi consequuntur, eius, aut dolore ratione minus odio! Rerum delectus quia provident.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sapiente iure sequi voluptates quidem eveniet facere? Ipsum expedita sunt ducimus deleniti maxime a, veritatis, animi, incidunt minima similique dolorem culpa?
          </h5>
      </div>
    </div>
</div>
    
</section>   
<section id="b-info">
    <div id="fire">
    <div class="row">
      <div class="col-xl-5 col-lg-12">
          <h2>Fire Safety</h2>
          <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur deserunt iure deleniti eos aliquam eveniet illum, alias repellendus modi consequuntur, eius, aut dolore ratione minus odio! Rerum delectus quia provident.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sapiente iure sequi voluptates quidem eveniet facere? Ipsum expedita sunt ducimus deleniti maxime a, veritatis, animi, incidunt minima similique dolorem culpa?
          </h5>
      </div>
      <div class="col-xl-1 col-lg-12">
    </div>
      <div class="col-xl-5 col-lg-12">
        <img src="static/images/fire.png" alt="">
  </div> 
  </div>
</div>
</section> 
<section id="a-info">
    <div id="cpr">
    <div class="row">
        <div class="col-xl-5 col-lg-12">
            <img src="static/images/firstaid.png" alt="">
      </div>
      <div class="col-xl-1 col-lg-12">
      </div>
      <div class="col-xl-5 col-lg-12">
          <h2>First Aid Training</h2>
          <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur deserunt iure deleniti eos aliquam eveniet illum, alias repellendus modi consequuntur, eius, aut dolore ratione minus odio! Rerum delectus quia provident.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sapiente iure sequi voluptates quidem eveniet facere? Ipsum expedita sunt ducimus deleniti maxime a, veritatis, animi, incidunt minima similique dolorem culpa?
          </h5>
      </div>
    </div>
</div>
    
</section>   


    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19mdozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</html>